<h2>Hello, <%= @user.username %>!</h2>

<div>
  <% @user.injuries.each do |injury|%>
        <h5> You are currently rehabbing from the following injuries:</h5>
        <li> <%= injury.diagnosis.name %>, injured on <%= injury.injury_date %> </liv>

            <% end %>

</div>
